<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.yoda.harmon.collector</string>

    <key>ProgramArguments</key>
    <array>
        <string>@HARMON_COLLECTOR_BINARY@</string>
        <string>collector</string>
        <string>--socket</string>
        <string>@HARMON_SOCKET@</string>
        <string>--allowed-uid</string>
        <string>@HARMON_USER_ID@</string>
        <string>--allowed-gid</string>
        <string>@HARMON_GROUP_ID@</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>LowPriorityIO</key>
    <true/>

    <key>Nice</key>
    <integer>5</integer>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>Umask</key>
    <integer>7</integer>

    <key>StandardOutPath</key>
    <string>/Library/Logs/Harmon/collector.log</string>

    <key>StandardErrorPath</key>
    <string>/Library/Logs/Harmon/collector.error.log</string>
</dict>
</plist>
